/* Sets the content to fil the screen */
html, body {
    height: 100%;
    margin: 0;
}

/* Generic CSS Code for all content boxes */

.contentbox {
    background: #ffffff;
    width: 960px;
    height: 960x;
    margin: 0 auto;
    

}

/* Code for all portfolio site images */

.portfolioimg {
    display: block;
    width: 100%;
    height: 100%;
}
/* Container Holding The Portfolio Images and Text */

.portfolioblock {
    position: relative;
    display: block;
    height: 150px;
    width:150px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

/* Text Block in Picture on Portfolio */

.text-block1 {
    position: absolute;
    bottom: 5px;
    background-color:#4aaaa5;
    color: #ffffff;
    width:150px;
    height: 25px;
    font-size: 8pt;
    text-align: center;
    padding-bottom: 5px;
}

/* Pic on Index */

.profilepic{
    float: left;
    overflow-wrap: break-word;
    height: 200px;
    width: 200px;
    padding-right: 10px;
}
h2 {
    color: #4aaaa5;
    padding-left: 10px;
    
  }
.wrapper {
    min-height: 100%;
    margin-bottom: -58px;

}
   


.footer {
   background: #666666; 
   border-top: 8px solid #4aaaa5;
   color: #ffffff;
   text-align: center;
}
.footer,
.push {
    height:50px;
}

.topnav {
    background-color:#ffffff;
    height: 50px;
    width: auto;
    border-bottom: #cccccc;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

#myname {
    margin-left: 22%;
    display: block;
    background:#4aaaa5;
    float: left;
    height: 50px;
    position: sticky;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6pt;
    color: #ffffff;
   
}

/* Formatting for the Navigation Links on right side */
.navlinks a {
    float: right;
    color:#777777;
   text-decoration: none;
  
 
}

.contact, .portfolio, .aboutme {
    padding-top: 25px;
    
   
}

.contact {
    padding-right: 380px;
}

.portfolio, .aboutme {
    padding-right: 10px;
}


  

  /* CSS formatting for columns in Portfolio */

  .column {
    display: flex;
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
      margin-top: 8px;
      vertical-align: middle;
  }
